<!DOCTYPE html> 
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/littlerain_weather_4857.png">
        <link rel="stylesheet" href="/css/style.css">
        <script src="/js/app.js"></script>
    </head>
    <body>
        <div class="main-content">
        {{>header}}
         <img class="picture" src="/img/2911935-aloy.jpg">
         <p>This site was created by Tracy. It uses data from mapbox.com and darksky.net. </p>
        </div>
      
         {{>footer}}
    </body>
   
</html>